@import 'tailwindcss';

:root {
  --background: #FFFFFF;
  --foreground: #050505;
  --ui-surface: color-mix(in oklab, var(--background) 90%, black);
  --ui-sunken: color-mix(in oklab, var(--background) 80%, black);

  /* Primary Colors */
  --ui-primary: #C41028;
  --ui-primary-light: color-mix(in oklab, var(--ui-primary) 80%, white);
  --ui-primary-dark: color-mix(in oklab, var(--ui-primary) 90%, black);
  --ui-primary-muted: color-mix(in oklab, var(--ui-primary-light) 50%, white);
  --ui-on-primary: #FFFFFF;

  /* Accent Colors */
  --ui-accent: #EB5AD8;
  --ui-accent-light: color-mix(in oklab, var(--ui-accent) 80%, white);
  --ui-accent-dark: color-mix(in oklab, var(--ui-accent) 90%, black);
  --ui-accent-muted: color-mix(in oklab, var(--ui-accent-light) 50%, white);
  --ui-on-accent: #FFFFFF;

  /* Content Colors (main text, etc.) */
  --ui-content: var(--foreground);
  --ui-content-muted: color-mix(in oklab, var(--ui-content) 50%, white);

  /* Generic Status Colors */
  --ui-success: #20974C;
  --ui-success-light: color-mix(in oklab, var(--ui-success) 80%, white);
  --ui-success-dark: color-mix(in oklab, var(--ui-success) 90%, black);
  --ui-success-muted: color-mix(in oklab, var(--ui-success-light) 50%, white);
  --ui-on-success: #FFFFFF;
  --ui-on-success-black: #050505;

  --ui-warning: #F29E0D;
  --ui-warning-light: color-mix(in oklab, var(--ui-warning) 80%, white);
  --ui-warning-dark: color-mix(in oklab, var(--ui-warning) 90%, black);
  --ui-warning-muted: color-mix(in oklab, var(--ui-warning-light) 50%, white);
  --ui-on-warning: #FFFFFF;
  --ui-on-warning-black: #050505;

  --ui-error: #FF0B0B;
  --ui-error-light: color-mix(in oklab, var(--ui-error) 80%, white);
  --ui-error-dark: color-mix(in oklab, var(--ui-error) 90%, black);
  --ui-error-muted: color-mix(in oklab, var(--ui-error-light) 50%, white);
  --ui-on-error: #FFFFFF;
  --ui-on-error-black: #050505;

  --ui-info: #3D84F5;
  --ui-info-light: color-mix(in oklab, var(--ui-info) 80%, white);
  --ui-info-dark: color-mix(in oklab, var(--ui-info) 90%, black);
  --ui-info-muted: color-mix(in oklab, var(--ui-info-light) 50%, white);
  --ui-on-info: #FFFFFF;
  --ui-on-info-black: #050505;
}

/* Dark Mode Colors */
/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #050505;*/
/*    --foreground: #EEEEEE;*/
/*    --ui-surface: color-mix(in oklab, var(--background) 90%, white);*/
/*    --ui-sunken: color-mix(in oklab, var(--background) 80%, white);*/
/*  }*/
/*}*/

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--ui-surface);
  --color-sunken: var(--ui-sunken);

  --color-primary: var(--ui-primary);
  --color-primary-light: var(--ui-primary-light);
  --color-primary-dark: var(--ui-primary-dark);
  --color-primary-muted: var(--ui-primary-muted);
  --color-on-primary: var(--ui-on-primary);

  --color-accent: var(--ui-accent);
  --color-accent-light: var(--ui-accent-light);
  --color-accent-dark: var(--ui-accent-dark);
  --color-accent-muted: var(--ui-accent-muted);
  --color-on-accent: var(--ui-on-accent);

  --color-content: var(--ui-content);
  --color-content-muted: var(--ui-content-muted);

  --color-success: var(--ui-success);
  --color-success-light: var(--ui-success-light);
  --color-success-dark: var(--ui-success-dark);
  --color-success-muted: var(--ui-success-muted);
  --color-on-success: var(--ui-on-success);
  --color-on-success-black: var(--ui-on-success-black);

  --color-warning: var(--ui-warning);
  --color-warning-light: var(--ui-warning-light);
  --color-warning-dark: var(--ui-warning-dark);
  --color-warning-muted: var(--ui-warning-muted);
  --color-on-warning: var(--ui-on-warning);
  --color-on-warning-black: var(--ui-on-warning-black);

  --color-error: var(--ui-error);
  --color-error-light: var(--ui-error-light);
  --color-error-dark: var(--ui-error-dark);
  --color-error-muted: var(--ui-error-muted);
  --color-on-error: var(--ui-on-error);
  --color-on-error-black: var(--ui-on-error-black);

  --color-info: var(--ui-info);
  --color-info-light: var(--ui-info-light);
  --color-info-dark: var(--ui-info-dark);
  --color-info-muted: var(--ui-info-muted);
  --color-on-info: var(--ui-on-info);
  --color-on-info-black: var(--ui-on-info-black);

  --font-sans: var(--font-dm-sans, Arial, Helvetica, sans-serif);
  --font-mono: var(--font-jetbrains-mono, Courier New, Noto Sans Mono, monospace);
  --font-thai: var(--font-noto-sans-thai, --font-dm-sans, Noto Sans Thai, sans-serif);
}

@layer base {
  html {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans), sans-serif;

    /* These aren't really required, but I like to be explicit. */
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;

    &:lang(th) {
      font-family: var(--font-thai), sans-serif;
    }
  }

  :where(a, button, input, select, textarea, [tabindex]):focus-visible {
    @apply outline-2 outline-offset-1 outline-accent-dark;

    box-shadow: 0 0 0 4px white;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
  }

  a {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 600;

    &:hover {
      color: var(--color-primary-light);
    }

    &:active {
      color: var(--color-primary-dark);
    }
  }

  code, pre {
    font-family: var(--font-mono), monospace;
  }

  svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
  }
}
